---
export const prerender = false;

const user = Astro.locals.user;
const session = Astro.locals.session;

import { validateSessionToken } from "@/lib/server/sessions";

if (session === null) {
  return Astro.redirect("/login");
}

const validSession = await validateSessionToken(session?.id);

if (!validSession) {
  return Astro.redirect("/login");
}

if (!user?.admin) {
  return Astro.redirect("/");
}

import BlockDateForm from "@/components/dashboard/BlockDateForm";
import BlockedDatesList from "@/components/dashboard/BlockedDatesList";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import { db, Sucursales, Pasteles, DisabledDateTimes } from "astro:db";
import type { Pastel } from "db/config";

const sucursales = await db.select().from(Sucursales);
const pasteles = await db.select().from(Pasteles) as Pastel[];
const blockedDates = await db.select().from(DisabledDateTimes);
---

<DashboardLayout
  user={user}
  title="Dashboard"
  description="Dashboard"
  showCart={false}
  sessionControls={true}
>
  <div class="space-y-8">
    <BlockDateForm sucursales={sucursales} pasteles={pasteles} client:load />
    <BlockedDatesList blockedDates={blockedDates} client:load />
  </div>
</DashboardLayout>
