---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

import { db, eq, Productos } from "astro:db";
import type { ProductosIdsSistema, ProductoDetalles } from "db/config";
import type { GetStaticPaths } from "astro";
import { slugify } from "@/lib/format";
import AddToCart from "@/components/cart/AddToCart";
import { Icon } from "astro-icon/components";
import {
  getPresentacionPrice,
  getPresentacionDiscount,
  type ProductCategoryTypes,
  type ProductPresentacionesType,
} from "@/lib/pricesConfig";

export const getStaticPaths = (async () => {
  const productos = await db
    .select()
    .from(Productos)
    .where(eq(Productos.archived, false));

  return productos.map((producto) => {
    return {
      params: {
        slug: producto.id.toString(),
      },
      props: {
        producto: producto,
      },
    };
  });
}) satisfies GetStaticPaths;

const { producto } = Astro.props;
const { id, descripcion, imagen, nombre, precioStripe } = producto;

const ids_sistema = producto.ids_sistema as ProductosIdsSistema;
const categoria = producto.categoria as ProductCategoryTypes;
const presentacion = producto.presentacion as ProductPresentacionesType<
  typeof categoria
>;
const precio = getPresentacionPrice(categoria, presentacion);
const descuento = getPresentacionDiscount(categoria, presentacion);

const detalles = producto.detalles as ProductoDetalles;
---

<Layout title={nombre} description={descripcion}>
  <Section>
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:mt-16">
      <Image
        src={imagen}
        alt={nombre}
        width={500}
        height={500}
        class="w-full object-cover"
      />
      <div class="mt-4 md:mt-8">
        <a href="/" class="flex items-center text-lg text-brand hover:underline"
          ><Icon name="arrow-left" class="mr-1 inline" /> Volver a la tienda</a
        >
        <h1 class="mb-2 mt-6 text-4xl font-medium md:mt-8">{nombre}</h1>
        <span
          class="mb-2 inline-block rounded-full border border-brand/50 bg-brand/15 px-2 py-1 capitalize leading-none text-brand-2"
          >{presentacion}</span
        >
        <ul
          class="mb-2 flex flex-wrap gap-x-2 gap-y-1 text-sm capitalize leading-none"
        >
          {
            detalles.map((detalle) => (
              <li class="rounded-full bg-light/15 px-1.5 py-[0.25rem]">
                {detalle}
              </li>
            ))
          }
        </ul>

        <p class="mb-2 font-light leading-relaxed opacity-60 ~text-lg/xl">
          {descripcion}
        </p>
        <div class="mt-8 flex items-center gap-4">
          <AddToCart
            id={ids_sistema.postreria}
            id_pasteleria={ids_sistema.pasteleria}
            price={precioStripe
              ? {
                  id: precioStripe,
                  amount: precio * 100,
                  discount: descuento * 100,
                }
              : { id: "", amount: 0, discount: 0 }}
            name={nombre}
            size={presentacion}
            image={imagen}
            quantity={1}
            category={categoria}
            buttonSize="large"
            client:only>Anadir al carrito</AddToCart
          >
        </div>
      </div>
    </div>
  </Section>
</Layout>
