---
// Component Imports
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import ProductCard from "@components/ProductCard.astro";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";

// Asset imports
import hero from "@assets/xmas-hero.jpg";

// Content collection data fetching
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatPrice } from "@lib/format";

const tradicionales = await getCollection(
  "pasteles",
  ({ data }: CollectionEntry<"pasteles">) => {
    return data.metadata.tamaño === "tradicional";
  },
);
const tradicionalesPrice = formatPrice(
  tradicionales[0].data.defaultPrice?.unitAmount,
);
const anytimes = await getCollection(
  "pasteles",
  ({ data }: CollectionEntry<"pasteles">) => {
    return data.metadata.tamaño === "anytime";
  },
);
const anytimesPrice = formatPrice(anytimes[0].data.defaultPrice?.unitAmount);
---

<Layout
  title="La Postre Shop"
  description="Ordena un pastel y recogelo en tu sucursal de La Postre de preferencia."
>
  <header class="bg-dark-2 mb-16 grid-cols-2 sm:grid">
    <div
      class="~pl-4/16 ~pr-4/20 ml-auto flex w-full max-w-[40rem] flex-col items-start justify-center py-16"
    >
      <h1 class="~text-4xl/5xl mb-2 text-balance font-medium tracking-tighter">
        Simply The Best
      </h1>
      <p class="mb-8 max-w-prose text-base">
        Nuestros pasteles son el arte de endulzar momentos, el secreto que une a
        la familia con su irresistible encanto.
      </p>
      <Button href="/#pasteles">Ver Pasteles</Button>
    </div>
    <Image src={hero} alt="Hero image" class="h-[60vh] object-cover" />
  </header>
  <Section>
    <h2 class="scroll-m-40 text-3xl font-medium tracking-tighter" id="pasteles">
      Tradicionales <span class="text-xl font-light tracking-normal"
        >( {tradicionalesPrice} )</span
      >
    </h2>
    <ul class="mt-4 grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] gap-4">
      {tradicionales?.map((product: any) => <ProductCard product={product} />)}
    </ul>
  </Section>
  <Section>
    <h2 class="text-3xl font-medium tracking-tighter">
      Anytimes <span class="text-xl font-light tracking-normal"
        >( {anytimesPrice} )</span
      >
    </h2>
    <ul class="mt-4 grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4">
      {anytimes?.map((product: any) => <ProductCard product={product} />)}
    </ul>
  </Section>
</Layout>
