---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import AddToCart from "@/components/cart/AddToCart";

interface Props {
  product: CollectionEntry<"pasteles">;
}

const { product } = Astro.props;
const { id, name, description, images, defaultPrice, metadata } = product.data;
---

<li class="relative rounded-sm">
  <Image
    src={images[0]}
    alt={name}
    width={480}
    height={480}
    class="aspect-square overflow-clip rounded-md object-cover"
  />
  <div class="flex items-center justify-between">
    <h3 class="mb-1 mt-3 font-medium capitalize tracking-tighter ~text-lg/xl">
      {name}
    </h3>
  </div>
  <p class="mb-4 font-light leading-relaxed opacity-60 ~text-[0.6rem]/xs">
    {description}
  </p>
  <AddToCart
    id={id}
    price={defaultPrice
      ? { id: defaultPrice.id, amount: defaultPrice.unitAmount }
      : { id: "", amount: 0 }}
    name={name}
    size={metadata.tamaño}
    image={images[0]}
    quantity={1}
    client:only
  />
</li>
