---
import { Image } from "astro:assets";
import AddToCart from "@/components/cart/AddToCart";
import type { Pastel } from "db/config";
import { slugify } from "@/lib/format";

type Props = {
  pastel: Pastel;
};

const { pastel } = Astro.props;
const {
  id,
  id_pasteleria,
  nombre,
  descripcion,
  imagen,
  precio,
  precioAnytime,
  imagenAnytime,
  precioGift,
  imagenGift,
} = pastel;

const slug = slugify(nombre);
---

<li class="relative rounded-sm">
  <a href=`productos/${slug}`>
    <Image
      src={imagen}
      alt={nombre}
      width={480}
      height={480}
      quality={80}
      loading={"lazy"}
      class="aspect-square overflow-clip rounded-md object-cover"
    />
  </a>
  <div class="flex items-center justify-between">
    <h3 class="mb-1 mt-3 font-medium capitalize tracking-tighter ~text-lg/xl">
      {nombre}
    </h3>
  </div>
  <p
    class="mb-2 line-clamp-3 font-light leading-relaxed opacity-60 ~text-[0.6rem]/xs"
  >
    {descripcion}
  </p>
  <div class="flex flex-wrap items-center justify-between gap-2">
    <AddToCart
      id={id}
      id_pasteleria={id_pasteleria}
      price={precio ? { id: precio, amount: 134000 } : { id: "", amount: 0 }}
      name={nombre}
      size="tradicional"
      image={imagen}
      quantity={1}
      client:only>Trad. +</AddToCart
    >
    {
      precioAnytime && (
        <AddToCart
          id={id}
          id_pasteleria={id_pasteleria}
          price={
            precioAnytime
              ? { id: precioAnytime, amount: 65000 }
              : { id: "", amount: 0 }
          }
          name={nombre}
          size="anytime"
          image={imagenAnytime ? imagenAnytime : imagen}
          quantity={1}
          client:only
        >
          Anytime +
        </AddToCart>
      )
    }
    {
      precioGift && (
        <AddToCart
          id={id}
          id_pasteleria={id_pasteleria}
          price={
            precio ? { id: precioGift, amount: 37000 } : { id: "", amount: 0 }
          }
          name={nombre}
          size="gift"
          image={imagenGift ? imagenGift : imagen}
          quantity={1}
          client:only
        >
          Gift +
        </AddToCart>
      )
    }
  </div>
</li>
