---
import { Image } from "astro:assets";
import AddToCart from "@/components/cart/AddToCart";
import type {
  Producto,
  ProductosIdsSistema,
  ProductoDetalles,
} from "db/config";
import { slugify } from "@/lib/format";
import {
  type ProductCategoryTypes,
  type ProductPresentacionesType,
  getPresentacionPrice,
  getPresentacionDiscount,
} from "@/lib/pricesConfig";

type Props = {
  producto: Producto;
};

const { producto } = Astro.props;
const { nombre, descripcion, imagen, precioStripe } = producto;
const categoria = producto.categoria as ProductCategoryTypes;
const presentacion = producto.presentacion as ProductPresentacionesType<
  typeof categoria
>;
const precio = getPresentacionPrice(categoria, presentacion);
const descuento = getPresentacionDiscount(categoria, presentacion);
const ids_sistema = producto.ids_sistema as ProductosIdsSistema;
const detalles = producto.detalles as ProductoDetalles;

const slug = slugify(nombre);
---

<li class="relative flex flex-col items-start">
  <Image
    src={imagen}
    alt={nombre}
    width={480}
    height={480}
    quality={80}
    loading={"lazy"}
    class="aspect-square overflow-clip object-cover"
  />
  <h3 class="mt-3 font-medium capitalize tracking-tighter ~text-lg/xl">
    {nombre}
  </h3>
  <span
    class="mb-2 inline-block rounded-full border border-brand/50 bg-brand/15 px-2 py-1 text-[10px] capitalize leading-none text-brand-2"
    >{presentacion}</span
  >
  <ul
    class="flex flex-wrap gap-x-2 gap-y-1 text-[0.65rem] capitalize leading-none"
  >
    {
      detalles.map((detalle) => (
        <li class="rounded-full bg-light/15 px-1.5 py-[0.25rem]">{detalle}</li>
      ))
    }
  </ul>
  <p class="mb-3 mt-1 font-light leading-relaxed opacity-60 ~text-xs/sm">
    {descripcion}
  </p>
  <div class="mt-auto flex flex-wrap items-center justify-between gap-2">
    <AddToCart
      id={ids_sistema.postreria}
      id_pasteleria={ids_sistema.pasteleria}
      price={precioStripe
        ? {
            id: precioStripe,
            amount: precio * 100,
            discount: descuento * 100,
          }
        : { id: "", amount: 0, discount: 0 }}
      name={nombre}
      size={presentacion}
      image={imagen}
      quantity={1}
      category={categoria}
      client:only>Anadir al carrito</AddToCart
    >
  </div>
</li>
