---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import AddToCart from "@/components/cart/AddToCart";
import type { Pastel } from "db/config";

/* interface Props {
  product: CollectionEntry<"pasteles">;
} */

type Props = {
  pastel: Pastel;
};

const { pastel } = Astro.props;
const {
  id,
  nombre,
  descripcion,
  imagen,
  precio,
  precioAnytime,
  imagenAnytime,
} = pastel;
---

<li class="relative rounded-sm">
  <Image
    src={imagen}
    alt={nombre}
    width={480}
    height={480}
    class="aspect-square overflow-clip rounded-md object-cover"
  />
  <div class="flex items-center justify-between">
    <h3 class="mb-1 mt-3 font-medium capitalize tracking-tighter ~text-lg/xl">
      {nombre}
    </h3>
  </div>
  <p class="mb-4 font-light leading-relaxed opacity-60 ~text-[0.6rem]/xs">
    {descripcion}
  </p>
  <div class="flex items-center justify-between">
    <div>
      <span class="text-[8px] capitalize opacity-50">Tradicional</span>
      <AddToCart
        id={id}
        price={precio ? { id: precio, amount: 125000 } : { id: "", amount: 0 }}
        name={nombre}
        size="tradicional"
        image={imagen}
        quantity={1}
        client:only
      />
    </div>
    {
      precioAnytime && (
        <div>
          <span class="text-[8px] capitalize opacity-50">Anytime</span>

          <AddToCart
            id={id}
            price={
              precioAnytime
                ? { id: precioAnytime, amount: 59000 }
                : { id: "", amount: 0 }
            }
            name={nombre}
            size="anytime"
            image={imagenAnytime ? imagenAnytime : imagen}
            quantity={1}
            client:only
          />
        </div>
      )
    }
  </div>
</li>
