---
import Navbar from "../components/Navbar.astro";

import "@/fonts.css";
import SimpleLink from "@/components/ui/SimpleLink.astro";
import type { User } from "db/config";

interface Props {
  user: User;
  title: string;
  description: string;
  showCart?: boolean;
  index?: boolean;
  sessionControls?: boolean;
}

const {
  user,
  title,
  showCart = false,
  index = false,
  sessionControls,
} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    {index === false && <meta name="robots" content="noindex, nofollow" />}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="relative flex min-h-screen flex-col bg-dark text-sm text-light dark"
  >
    <Navbar showCart={showCart} sessionControls={sessionControls} />
    <main class="flex-grow">
      <div
        class="mx-auto flex max-w-7xl grid-cols-[1fr_4fr] flex-col gap-8 ~px-6/16 ~pt-4/16 sm:grid"
      >
        <div>
          <h1 class="pb-4 text-2xl font-medium tracking-tight">
            Bienvenid@ {user?.nombre}
          </h1>
          <menu class="flex flex-wrap ~gap-8/4 sm:flex-col">
            <SimpleLink href="/dashboard/" label="Ver Ordenes" />
            <SimpleLink href="/dashboard/fechas" label="Bloquear Fechas" />
          </menu>
        </div>
        <slot />
      </div>
    </main>
  </body>
</html>
