---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Cart from "@/components/Cart.astro";

import "@/fonts.css";

interface Props {
  title: string;
  description: string;
  showCart?: boolean;
  index?: boolean;
  sessionControls?: boolean;
}

const {
  title,
  description,
  showCart = true,
  index = true,
  sessionControls,
} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: "La Postre Shop",
          type: "website",
          image:
            "https://uploads-ssl.webflow.com/601d975f2c3c6201895ea758/602c73003ec1dbc73dd1deb6_La%20Postreria%2077%20Logo.jpg",
        },
      }}
    />
    {index === false && <meta name="robots" content="noindex, nofollow" />}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="relative flex min-h-screen flex-col bg-dark text-sm text-light dark"
  >
    <Navbar showCart={showCart} sessionControls={sessionControls} />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    {showCart && <Cart />}
  </body>
</html>
